<section
  class="bg-[url('/images/hero-small.png')] md:bg-[url('/images/hero-large.png')] bg-cover bg-center md:bg-right lg:bg-left-top bg-no-repeat min-h-[calc(100vh-111.6px)] xs:min-h-[calc(100vh-91.6px)] relative rounded-lg overflow-hidden text-white">
  <div class="absolute top-0 left-0 w-full h-full bg-dark/50"></div>
  <div
    class="absolute top-1/2 start-1/2 -translate-x-1/2 px-10 md:start-0 md:translate-x-0 w-full md:w-1/2 -translate-y-1/2 not-md:text-center">
    <h2 class="text-3xl sm:text-4xl md:text-6xl mb-3 font-bold">Wear Your Story</h2>
    <p class="text-gray-200">Transform your ideas into wearable art. Create custom clothes
      with your
      designs,
      photos,
      or
      text.</p>

    <div class="flex flex-col xs:flex-row xs:justify-center md:justify-start gap-4 mt-6">
      <button class="btn whitespace-nowrap">Start Designing</button>
      <button role="link" class="btn-secondary whitespace-nowrap" routerLink="/products">Shop Now</button>
    </div>
  </div>
</section>