<div class="cursor-default w-fit mx-auto mb-2 bg-gray-100 py-2 px-4 rounded-full flex justify-center gap-2">
  @for (color of colors(); track $index) {
  <div [style.backgroundColor]="color.color"
    class="size-5 border border-gray transition-transform hover:scale-110 rounded-full"></div>
  }
</div>
<!-- <div
  class="absolute cursor-default bottom-2 start-1/2 -translate-x-1/2 bg-white py-2 px-4 rounded-full flex justify-center gap-2">
  @for (color of colors(); track $index) {
  <div [style.backgroundColor]="color.color"
    class="size-5 border border-gray transition-transform hover:scale-110 rounded-full"></div>
  }
</div> -->